:root {
    --drkgreen: #395144;
    --lhtgreen: #4e6c50;
    --brown: #aa8b56;
    --cream: #f0ebce;
}

* {
    font-family: 'Century Gothic', 'Times New Roman', serif;
}

body {
    background-color: var(--cream);
    color: var(--drkgreen);
}

button {
    background-color: var(--lhtgreen);
    color: var(--cream);
    font-size: 200%;
    margin: 1em;
    padding: .4em;
    border-radius: 2em;
}

h1 {
    font-size: 300%;
    margin: 1em;
}

h2 {
    font-size: 300%;
}

header {
    background-color: var(--lhtgreen);
    color: var(--cream);
    display: flex;
    justify-content: space-between;
    font-size: 200%;
}

label, 
#time-score,
#msg {
    font-size: 200%;
}

li {
    font-size: 150%;
    margin-top: 1em;
    margin-bottom: 1em;
}

p, 
#highscores {
    font-size: 150%;
    line-height: 125%;
}

#highscores-btn {
    display: flex;
    padding: .5em 0em .2em 2em;
    all: unset;
    cursor: pointer;
    margin-left: .5em;
}

#initials {
    font-size: 150%; 
    margin-left: 1em;
}

#q1 {
    text-align: left;
    font-size: 175%;
    line-height: 125%;

}

#quizbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 8em 40em;
    text-align: center;
}

#start-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8em 40em;
    text-align: center;
}

#submit-score,
#display-score {
    flex-direction: column;
    align-items: center;
    margin: 2em 40em;
    text-align: center;
}

#timer {
    display: flex;
    padding: .5em 2em .2em 0em;
}

.answer-btn,
#submit-score,
#display-score {
    display: none;
}

.button {
    display: inline-flex;
    justify-content: center;
}